.lesson {
  width: 100%;
  display: flex;
  justify-content: center;
}

.lesson img {
  width: 100%;
  height: 100%;
}
.lg {
  display: block;
}
.me {
  display: none;
}
.mi {
  display: none;
}
@media only screen and (max-width: 1050px) {
  .lg {
    display: none;
  }
  .me {
    display: block;
  }
  .mi {
    display: none;
  }
}
@media only screen and (max-width: 578px) {
  .lg {
    display: none;
  }
  .me {
    display: none;
  }
  .mi {
    display: block;
  }
}
