* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primarycolor: #000000;
  --secondarycolor: #6129e3;
  --thirdcolor: #ffffff;
  --fourthcolor: #707070;
  --fifthcolor: #f9f9f9;
}
